a, a:hover, a:focus{
  text-decoration: none;
}

body{
  background:grey;
}

header{
  background:black;
  text-align: center;
}

#title{
  padding-top:.75em;
  font-size: 2em;
  line-height: 1;
  margin-bottom: -.05em;
}

#tag-line{
  font-size:1em;
  color:white;
}

#main-nav {
  list-style: none;
  display:flex;
  flex-direction: row;
}
